@charset "utf-8";

body {
  padding:0 2%
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
  img {
    width: 100%;
    height: auto;
    max-width: 600px;
  }
  h1 {
    color: #000;
    font-size: 35px;
@import "bootstrap/functions";
@import "variables";
@import "bootstrap";

    @media (min-width: 768px){
      font-size: 45px;

    }
    @media (min-width: 992px){
      font-size: 65px;

    }
    span {
      color: #a41f20;
      font-size: 70px;
      @media (min-width: 768px){
        font-size: 100px;
      }
    }
  }
  form {
    max-width:400px;
    margin: 0 auto;
    .label {
      text-align: left;
      display: block;
      margin:10px 0 2px 0;
    }
    input {
      width: 98%;
      height: 30px;
      border: 1px solid #bfbfbf;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      padding: 3px;
    }
    textarea {
      @extend input;
      height: 150px;
    }
    button {
      @extend input;
      width:100px;
      float:right;
      margin:10px 0;
    }
  }
}
