// images size 825x600
- @models =[{ image_url: "JAWA-500-OHV/JAWA-500-OHV.jpg",
              title: "JAWA 500 OHV",
              manufacture_year: "1929 - 1931",
            },
            { image_url: "JAWA-175-Villiers/JAWA-175-Villiers.jpg",
              title: "JAWA 175 Villiers",
              manufacture_year: "1932 - 1940",
            },
            # { image_url: "",
            #   title: "JAWA 175 Special",
            #   manufacture_year: "1932 - 1940",
            # },
            # { image_url: "",
            #   title: "JAWA 175 Standart",
            #   manufacture_year: "1932 - 1940",
            # },
            { image_url: "JAWA-350-SV/JAWA-350-SV.jpg",
              title: "JAWA 350 SV",
              manufacture_year: "1934 - 1936",
            },
            { image_url: "JAWA-250-Special/JAWA-250-Special.jpg",
              title: "JAWA 250 Special",
              manufacture_year: "1935 - 1940",
            },
            # { image_url: "",
            #   title: "JAWA 250 Standart",
            #   manufacture_year: "1935 - 1940",
            # },
            # { image_url: "",
            #   title: "JAWA 350 OHV",
            #   manufacture_year: "1935 - 1940",
            # },
            { image_url: "JAWA-100-Robot/JAWA-100-Robot.jpg",
              title: "JAWA 100 Robot",
              manufacture_year: "1937 - 1940",
            },
            # { image_url: "",
            #   title: "JAWA 250 Duplex-Blok",
            #   manufacture_year: "1939 - 1940",
            # },
            # { image_url: "",
            #   title: "JAWA 350/12 Ogar",
            #   manufacture_year: "1948 – 1956",
            # },
            # { image_url: "",
            #   title: "JAWA 250/11 Pérák",
            #   manufacture_year: "1946 – 1954",
            # },
            # { image_url: "",
            #   title: "JAWA 500 OHC Racing",
            #   manufacture_year: "1949",
            # },
            { image_url: "JAWA-500-OHC/JAWA-500-OHC.jpg",
              title: "JAWA 500 OHC",
              manufacture_year: "1952 - 1958",
            },
            # { image_url: "",
            #   title: "JAWA 250 Sport",
            #   manufacture_year: "1954",
            # },
            # { image_url: "",
            #   title: "JAWA - ČZ 125/351",
            #   manufacture_year: "1954 - 1956",
            # },
            # { image_url: "",
            #   title: "JAWA - ČZ 150/352",
            #   manufacture_year: "1954 - 1956",
            # },
            # { image_url: "",
            #   title: "JAWA - ČZ 250/353 Kývačka",
            #   manufacture_year: "1954 – 1955",
            # },
            # { image_url: "",
            #   title: "JAWA - ČZ 350/354 Kývačka",
            #   manufacture_year: "1954 – 1955",
            # },
            # { image_url: "",
            #   title: "JAWA - ČZ 250/353.02",
            #   manufacture_year: "1954 – 1955",
            # },
            # { image_url: "",
            #   title: "JAWA - ČZ 350/354.02",
            #   manufacture_year: "1954 – 1955",
            # },
            # { image_url: "",
            #   title: "JAWA - ČZ 250/353.03",
            #   manufacture_year: "1955 – 1957",
            # },
            # { image_url: "",
            #   title: "JAWA - ČZ 350/354.03",
            #   manufacture_year: "1955 – 1957",
            # },
            { image_url: "JAWA-50-550-Pionyr/JAWA-50-550-Pionyr.jpg",
              title: "JAWA 50/550 Pionýr",
              manufacture_year: "1955 – 1958",
            },
            # { image_url: "",
            #   title: "JAWA 250 S353.08",
            #   manufacture_year: "1956",
            # },
            # { image_url: "",
            #   title: "JAWA 350 S354.08",
            #   manufacture_year: "1956",
            # },
            # { image_url: "",
            #   title: "JAWA – ČZ 250 353.04",
            #   manufacture_year: "1957 – 1962",
            # },
            # { image_url: "",
            #   title: "JAWA – ČZ 350 354.04",
            #   manufacture_year: "1957 – 1962",
            # },
            # { image_url: "",
            #   title: "JAWA 250 553 Libeňák",
            #   manufacture_year: "1957 – 1962",
            # },
            # { image_url: "",
            #   title: "JAWA 250 557",
            #   manufacture_year: "1957 – 1962",
            # },
            # { image_url: "",
            #   title: "JAWA 350 558",
            #   manufacture_year: "1957 – 1962",
            # },
            { image_url: "JAWA-Stadion-S11/JAWA-Stadion-S11.jpg",
              title: "JAWA Stadion S11",
              manufacture_year: "1958 - 1960",
            },
            # { image_url: "",
            #   title: "JAWA 50/555 Pionýr",
            #   manufacture_year: "1958 – 1962",
            # },
            # { image_url: "",
            #   title: "JAWA 50/551 Jawetta Standard",
            #   manufacture_year: "1959 – 1962",
            # },
            { image_url: "JAWA-50-551-Jawetta-Sport/JAWA-50-551-Jawetta-Sport.jpg",
              title: "JAWA 50/551 Jawetta Sport",
              manufacture_year: "1959 - 1962",
            },
            # { image_url: "",
            #   title: "JAWA 250 2xOHC",
            #   manufacture_year: "1959",
            # },
            { image_url: "JAWA-Stadion-S22/JAWA-Stadion-S22.jpg",
              title: "JAWA Stadion S22",
              manufacture_year: "1960",
            },
            { image_url: "JAWA-Stadion-S23/JAWA-Stadion-S23.jpg",
              title: "JAWA Stadion S23",
              manufacture_year: "1962 - 1964",
            },
            # { image_url: "",
            #   title: "JAWA 250/353-07 Super Sport",
            #   manufacture_year: "1962 - 1964",
            # },
            # { image_url: "",
            #   title: "JAWA 350/354-06",
            #   manufacture_year: "1962 - 1964",
            # },
            # { image_url: "",
            #   title: "JAWA 250/559",
            #   manufacture_year: "1962 - 1974",
            # },
            # { image_url: "",
            #   title: "JAWA 350 2xOHC",
            #   manufacture_year: "1962",
            # },
            # { image_url: "",
            #   title: "JAWA 350/575",
            #   manufacture_year: "1962 – 1964",
            # },
            # { image_url: "",
            #   title: "JAWA 250/579",
            #   manufacture_year: "1962 – 1964",
            # },
            # { image_url: "",
            #   title: "JAWA 350/360 Panelka",
            #   manufacture_year: "1964 – 1974",
            # },
            # { image_url: "",
            #   title: "JAWA 350 Automatic 360-01",
            #   manufacture_year: "1965",
            # },
            # { image_url: "",
            #   title: "JAWA 350/361 Sport",
            #   manufacture_year: "1965 – 1969",
            # },
            # { image_url: "",
            #   title: "JAWA 250/590 Sport",
            #   manufacture_year: "1965 – 1970",
            # },
            # { image_url: "",
            #   title: "JAWA 125/670",
            #   manufacture_year: "1966 - 1968",
            # },
            # { image_url: "",
            #   title: "JAWA 250/559-05 Automatic",
            #   manufacture_year: "1966 - 1968",
            # },
            # { image_url: "",
            #   title: "JAWA 125/655-01",
            #   manufacture_year: "1967",
            # },
            # { image_url: "",
            #   title: "JAWA 350/673",
            #   manufacture_year: "1967",
            # },
            { image_url: "JAWA-50-20-Pionyr/JAWA-50-20-Pionyr.jpg",
              title: "JAWA 50/20 Pionýr",
              manufacture_year: "1967 - 1982",
            },
            # { image_url: "",
            #   title: "JAWA 50/21 Pionýr",
            #   manufacture_year: "1967 - 1982",
            # },
            # { image_url: "",
            #   title: "JAWA 50/23 Mustang",
            #   manufacture_year: "1967 - 1982",
            # },
            # { image_url: "",
            #   title: "JAWA 90 Roadster",
            #   manufacture_year: "1968 - 1973",
            # },
            # { image_url: "",
            #   title: "JAWA 90 Cross (Trail)",
            #   manufacture_year: "1968 - 1973",
            # },
            # { image_url: "",
            #   title: "JAWA 250/592",
            #   manufacture_year: "1969 - 1974",
            # },
            { image_url: "JAWA-350-Californian/JAWA-350-Californian.jpg",
              title: "JAWA 350 Californian",
              manufacture_year: "1969 - 1973",
            },
            # { image_url: "",
            #   title: "JAWA 250/624 Marčík",
            #   manufacture_year: "1969",
            # },
            { image_url: "JAWA-350-638-5/JAWA-350-638-5.jpg",
              title: "JAWA 350/638-5",
              manufacture_year: "1984",
            },
]
