// images size 825x600
- @models =[{ image_url: "JAWA-500-OHV/JAWA-500-OHV.jpg",
              title: "JAWA 500 OHV",
              manufacture_year: "1929 - 1931",
            },
            { image_url: "JAWA-175-Villiers/JAWA-175-Villiers.jpg",
              title: "JAWA 175 Villiers",
              manufacture_year: "1932 - 1940",
            },
            { image_url: "JAWA-500-OHC/JAWA-500-OHC.jpg",
              title: "JAWA 500 OHC",
              manufacture_year: "1935 - 1940",
            },
            { image_url: "JAWA-Stadion-S22/JAWA-Stadion-S22.jpg",
              title: "JAWA Stadion S22",
              manufacture_year: "1960",
            },
            { image_url: "JAWA-350-Californian/JAWA-350-Californian.jpg",
              title: "JAWA 350 Californian",
              manufacture_year: "1969 – 1973",
            },
]
