// images size 825x600
- @models =[{ image_url: "JAWA-500-OHV/JAWA-500-OHV.jpg",
              title: "JAWA 500 OHV",
              manufacture_year: "1929 - 1931",
            },
            { image_url: "JAWA-175-Villiers/JAWA-175-Villiers.jpg",
              title: "JAWA 175 Villiers",
              manufacture_year: "1932 - 1940",
            },
            # { image_url: "",
            #   title: "JAWA 175 Special",
            #   manufacture_year: "1932 - 1940",
            # },
            # { image_url: "",
            #   title: "JAWA 175 Standart",
            #   manufacture_year: "1932 - 1940",
            # },
            { image_url: "JAWA-350-SV/JAWA-350-SV.jpg",
              title: "JAWA 350 SV",
              manufacture_year: "1934 - 1936",
            },
            { image_url: "JAWA-250-Special/JAWA-250-Special.jpg",
              title: "JAWA 250 Special",
              manufacture_year: "1935 - 1940",
            },
            # { image_url: "",
            #   title: "JAWA 250 Standart",
            #   manufacture_year: "1935 - 1940",
            # },
            # { image_url: "",
            #   title: "JAWA 350 OHV",
            #   manufacture_year: "1935 - 1940",
            # },
            { image_url: "JAWA-100-Robot/JAWA-100-Robot.jpg",
              title: "JAWA 100 Robot",
              manufacture_year: "1937 - 1940",
            },
            # { image_url: "",
            #   title: "JAWA 250 Duplex-Blok",
            #   manufacture_year: "1939 - 1940",
            # },
            # { image_url: "",
            #   title: "JAWA 350/12 Ogar",
            #   manufacture_year: "1948 – 1956",
            # },
            # { image_url: "",
            #   title: "JAWA 250/11 Pérák",
            #   manufacture_year: "1946 – 1954",
            # },
            # { image_url: "",
            #   title: "JAWA 500 OHC Racing",
            #   manufacture_year: "1949",
            # },
            { image_url: "JAWA-500-OHC/JAWA-500-OHC.jpg",
              title: "JAWA 500 OHC",
              manufacture_year: "1952 - 1958",
            },
            { image_url: "JAWA-50-551-Jawetta-Sport/JAWA-50-551-Jawetta-Sport.jpg",
              title: "JAWA 50/551 Jawetta Sport",
              manufacture_year: "1959-1962",
            },
            { image_url: "JAWA-Stadion-S22/JAWA-Stadion-S22.jpg",
              title: "JAWA Stadion S22",
              manufacture_year: "1960",
            },
            { image_url: "JAWA-350-Californian/JAWA-350-Californian.jpg",
              title: "JAWA 350 Californian",
              manufacture_year: "1969 - 1973",
            },
]
