- shops = [{"image": "jawaparts-com.png",
            "name": "JAWAPARTS",
            "description": "In our store we have more than 4000 spare parts in offer for motorcycles - JAWA, ČZ, JAWA-ČZ, SIMSON, BABETTA, STADION. Since 2017 we are official dealer of JAWA MOTO S.R.O. (Czech republic).",
            "website": "https://www.jawaparts.com",
            "address": "JAWAPARTS.COM | MOTOJELÍNEK.CZ <br> Santražiny 5342 <br> 760 01 <br> Zlín <br> Czech Republic",
          },
          {"image": "jawashop-com.png",
            "name": "JawaShop.com s.r.o.",
            "description": "Sells spare parts for JAWA and CZ motorcycles since 2004",
            "website": "https://www.jawashop.com",
            "address": "JawaShop.com s.r.o.<br>Prumyslova 3506/20<br>400 01 Usti nad Labem 1<br>Czech Republic",
          },
          {"image": "motokramek.png",
            "name": "Motokrámek s.r.o.",
            "description": "Sells spare parts for JAWA, ČZ, STADION, BABETTA and others",
            "website": "https://www.motokramek.cz",
            "address": "Motokrámek s.r.o.<br>Kašava 235,<br>763 19 Kašava<br>Czech Republic",
          },
]



- @sortedShops = shops.sort_by { |h| h[:name].downcase }
